---
import NavLink from "./NavLink.astro";
---

<div
	id="nav"
	class="tabs tabs-border justify-center pb-6"
>
	<NavLink
		label="Home"
		href="/"
	/>
	<NavLink
		label="Other page"
		href="/other"
	/>
</div>
